/* I - PRINCIPES COMMUNS */
.qiuubi-art-themes {
  margin-top: 10px;
  margin-bottom: 100px;
}

.qiuubi-art-theme-title {
  text-align: center;
  font-family: "Cantarell", sans-serif;
  font-size: 1.5rem;
  border: 2px solid #ffffff;
  border-radius: 100px;
  padding: 10px;
}

/* II - WATCHING THE SKY */
.qiuubi-art-theme-watching-the-sky {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(165, 231, 242, 1) 100%
  );
  padding: 10px;
  border-radius: 50px;
}
